.ball {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    user-select: none;
    transition: transform 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;
    &:before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.25) 50%, transparent 70%);
        pointer-events: none;
        transition: transform 0.2s ease-out;
    }
    &:after {
        content: "";
        position: absolute;
        width: 60%;
        height: 60%;
        top: 12%;
        left: 24%;
        border-radius: 50%;
        background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 60%);
        transform: translateX(-25%) translateY(-25%) skewX(-30deg);
        filter: blur(8px);
        pointer-events: none;
    }
    &.active {
        cursor: pointer;
    }
    &.preview {
        &:before {
            content: none;
        }
    }
    &.dradding {
        opacity: 0.6;
    }
    &.over:not(.dradding) {
        transform: translateY(-2px);
        &:before {
            transform: translateY(2px);
        }
    }
}

.ball__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    box-shadow: inset -10px -10px 20px rgba(0,0,0,0.2);
}
