* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: $mainBgColor;
    color: $mainColor;
}

h1, h2 {
    margin: 0.5em 0;
    text-align: center;
    font-weight: normal;
}

p {
    margin-top: 0;
    margin-bottom: 0.5em;
    &:last-child {
        margin-bottom: 0;
    }
}

ul {
    padding: 0;
    margin: 0.5em 0;
    list-style: none;
}

ol {
    margin: 0.5em 0;
}

button {
    border-radius: 0.5em;
    text-align: center;
    background-color: transparent;
    color: currentColor;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
