.board {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0.5em 0;
}

.guess-panel {
    display: flex;
    flex: auto;
    justify-content: center;
    margin-right: 1em;
}

.guess-panel__item {
    margin-right: 0.5em;

    &:last-child {
        margin-right: 0;
    }
}

.guess-panel__btn {
    flex-shrink: 0;
    width: 40px;
}

.result-panel {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    padding: 2px 0;
    justify-content: space-around;
    align-items: center;
}

.key {
    margin: 2px 4px;
    border: 1px solid;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;

    &.bull {
        background-color: black;
    }

    &.cow {
        background-color: white;
    }

    &:nth-child(3):nth-last-child(3) {
        margin-left: calc((100% - 8px)/2);
        margin-right: calc((100% - 8px)/2);
    }
}
