.board {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0.5em 0;
}

.guess-panel {
    display: flex;
    flex: auto;
    justify-content: center;
    margin-right: 1em;
}

.guess-panel__item {
    margin-right: 0.5em;

    &:last-child {
        margin-right: 0;
    }
}

.guess-panel__btn {
    flex-shrink: 0;
    width: 40px;
}
