$width: 412px;
$minPadding: 16px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 0 $minPadding;
    @media only screen and (min-width: $width) {
        padding: 0 calc(50% - #{$width}/2 + #{$minPadding});
    }
    background-color: whitesmoke;

}

main {
    padding: 0 $minPadding;
    @media only screen and (min-width: $width) {
        padding: 0 calc(50% - #{$width}/2 + #{$minPadding});
    }
}

h1 {
    margin: 0;
    font-size: 1rem;
    line-height: 2em;
    text-align: center;
}

p {
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
}

.game {
    position: relative;
}

.game-result {
    text-align: center;
}

.game-result__text {
    padding: 0.5em 0;
    font-size: 1rem;
}

.board {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.guess-panel {
    display: flex;
    flex: auto;
    justify-content: center;
    margin-right: 1em;
}

.guess-panel__btn {
    width: 40px;
}

.ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-user-select: none;
    position: relative;
    box-shadow: inset -10px -10px 20px rgba(0,0,0,0.2);
    &:last-child {
        margin-right: 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 4%;
        left: 4%;
        width: 116%;
        height: 116%;
        background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.25) 50%, transparent 70%);
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 5%;
        left: 10%;
        border-radius: 50%;
        background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 40%);
        transform: translateX(-25%) translateY(-25%) skewX(-30deg);
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }
    &.active {
        cursor: pointer;
    }
}

.result-panel {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    padding: 2px 0;
    justify-content: space-around;
    align-items: center;
}

.key {
    margin: 2px 4px;
    border: 1px solid;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    &.bull {
        background-color: black;
    }
    &.cow {
        background-color: white;
    }
    &:nth-child(3n):not(:nth-last-child(2)) {
        margin-left: calc((100% - 8px)/2);
        margin-right: calc((100% - 8px)/2);
    }
}

.btn-block {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0;
}

.btn-block__button {
    padding: 0.5em;
    margin-right: 0.5em;
    &:last-child {
        margin-right: 0;
    }
}
