.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 0 $padding;

    @media only screen and (min-width: $width) {
        padding: 0 calc(50% - #{$width}/2 + #{$padding});
    }

    background-color: whitesmoke;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    &.menu--open {
        transform: translateX(0);
    }
}

.menu__header {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: $headerHeight;
}

.menu__body {
    display: flex;
    height: calc(100vh - #{$headerHeight});
}

.menu__list {
    width: 100%;
    margin: auto;
    text-align: center;
}

.menu__item {
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    line-height: 4em;
    text-transform: uppercase;

    &:hover {
        background-color: white;
    }
}
